<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="expectation">
	<Properties>
		<Property name="logFolder">/var/log/capillary/expectation/</Property>
	</Properties>
	<Appenders>
		<RollingFile name="ACCESS_LOG" fileName="${logFolder}access.log" filePattern="${logFolder}access.log.%d{yyyyMMdd}"
			append="true">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%X{requestType}] [%X{requestId}] [%X{requestOrgId}] [%c{1}:%L] [%p] %m%n
				</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
		</RollingFile>
		<RollingFile name="LOGFILE" fileName="${logFolder}expectation.log" filePattern="${logFolder}expectation.log.%d{yyyyMMdd}"
			append="true">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%X{requestType}] [%X{requestId}] [%X{requestOrgId}] [%c{1}:%L] [%p] %m%n
				</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
		</RollingFile>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%X{requestType}] [%X{requestId}] [%X{requestOrgId}] [%c{1}:%L] [%p] %m%n
				</Pattern>
			</PatternLayout>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.capillary" level="DEBUG" additivity="false" includeLocation="true">
			<AppenderRef ref="LOGFILE" />
 			<AppenderRef ref="CONSOLE" />
		</Logger>
		<Root level="INFO">
			<AppenderRef ref="LOGFILE" />
 			<AppenderRef ref="CONSOLE" />
		</Root>
	</Loggers>
</Configuration>